*{
    /* 初始化 */
    margin: 0;
    padding: 0;
}
body{
    /* 100%窗口高度 */
    height: 100vh;
    /* 弹性布局 水平+垂直居中 */
    display: flex;
    justify-content: center;
    align-items: center;
    /* 渐变背景 */
    background: linear-gradient(280deg,#e1c8cc,#9cb0ce,#5f8e77);
    /* 指定背景图像的大小 */
    background-size: 500%;
    /* 执行动画：动画名 时长 线性的 无限次播放 */
    animation: bgAnimation 5s linear infinite;
}
/* 定义动画 */
@keyframes bgAnimation {
    0%{
        background-position: 0% 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0% 50%;
    }
}
a{
    text-decoration: none;
}
section{
    width: 100vw;
    height: 100vh;
    background-color: pink;
    position: relative;
    transform-style: preserve-3d;
}
div{
    position: absolute;
    width: 55vmin;
    height: 28vmin;
    top:calc((100vh - 28vmin)/2);
    left: calc((100vw - 55vmin)/2);
    border-radius: 1vmin;
    transition: all 1s;
    
}
div:nth-child(1){
    height: 35vmin;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.welcomePage{
    background-color: skyblue;
    transform: translate3d(0,0,3px);
}
.homePage{
    background-color: white;
    transform: translate3d(0,0,2px);
    font-size: 2vmin;
    /* opacity: 0; */
}

.personResource{
    background-color:white;
    transform: translate3d(0,0.1px);
    font-size: 2vmin;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.welcomePage button{
    width: 20vmin;
    margin-top: 2vmin;
    background-color: #f6f6f6;
    outline: none;
    border-radius: 8px;
    padding: 13px;
    color: #a262ad;
    letter-spacing: 2px;
    border: none;
    cursor: pointer;
    position: relative;
}
.welcomePage button:hover{
    background-color: #a262ad;
    color: #f6f6f6;
    transition: background-color 0.5s ease;
}
.welcomePage h1{
    text-align: center;
    margin-bottom: 1vmin;
    color: white;
}
h2{
    text-align: center;
    color: #6e9ceb;
    margin-bottom: 2vmin;

}
.homePage li{
    position: relative;
    font-size: 2vmin;
    color: #8d9fbe;
    margin-bottom: 1vmin;
    margin-left: calc((45vmin - 11vmin + 5vmin)/2);
}
.homePage img{
    width: 15vmin;
    height: 15vmin;
    /* 这里的计算可能有点问题 */
    margin-top: calc(((28vmin - 5vmin) - (20vmin + 5vmin))/2);
    margin-left: 0;
    float: left;
}
.personResource span{
    font-size: 3vmin;
    color:  white;
    font-weight: bold;
    margin-top: 5vmin;
}
.personResource h2{
    margin-top: 3vmin;
    text-align: center;
    position: relative;
    color: rgb(133, 124, 124);
    margin-bottom: 1vmin;
}

.personResource button{
    width: 20vmin;
    height: 7vmin;
    margin-top: 0.5vmin;
    background-color: #fff;
    color: #a262ad;
    border: 1px solid #d3b7d8;
    padding: 0.5vmin 1vmin;
    border-radius: 5px;
    letter-spacing: 1px;
    outline: none;
    cursor: pointer;
}
.personResource button:hover{
    background-color: #a478ac;
    color: #f6f6f6;
    transition: background-color 0.5s ease;}
