*{
    /* 初始化 */
    margin: 0;
    padding: 0;
}

body{
    /* 100%窗口高度 */
    height: 100vh;
    /* 弹性布局 水平+垂直居中 */
    display: flex;
    justify-content: center;
    align-items: center;
    /* 渐变背景 */
    background: linear-gradient(280deg,#e1c8cc,#9cb0ce,#5f8e77);
    /* 指定背景图像的大小 */
    background-size: 500%;
    /* 执行动画：动画名 时长 线性的 无限次播放 */
    animation: bgAnimation 5s linear infinite;
}
/* 定义动画 */
@keyframes bgAnimation {
    0%{
        background-position: 0% 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0% 50%;
    }
}
a{
    text-decoration: none;
}
.container{
    /* display: inline-block; */
    text-align:center;
    background-color: transparent;
    width: 55vw;
    height: 70vh;
    border-radius: 0.4vw;
    /* 阴影 */
    /* box-shadow: 5px 5px 5px rgba(0,0,0,0.1); */
    /* 相对定位 */
    position: relative;
}
.form-box{
    background-color: #d3b7d8;
    position: absolute;
    width: 30vw;
    height: 70vh;
    left: 13vw;
    box-shadow: 0.1vw 0 0.9vw rgba(0,0,0,0.1);
    border-radius: 1vw;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    /* 动画过渡 加速后减速 */
    transition: 0.5s ease-in-out; 
    flex-direction: column;
    z-index: 1;
    /* opacity: 0; */
    
    
} 

h1{
    text-align: center;
    margin-bottom: 25px;
    /* 大写 */
    text-transform: uppercase;
    color: white;
}

.form-box button{
    width: 20vw;
    margin-top: 35px;
    background-color: #f6f6f6;
    outline: none;
    border-radius: 8px;
    padding: 13px;
    color: #a262ad;
    letter-spacing: 2px;
    border: none;
    cursor: pointer;
    
}
.form-box button:hover{
    background-color: #a262ad;
    color: #f6f6f6;
    transition: background-color 0.5s ease;
}

.con-box{
    position: relative;
    width: 30vw;
    height: 70vh;
    top: 50vh;
    /* 弹性布局 垂直排列 居中 */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* 绝对定位 居中 */
    position: absolute;
    border-radius: 2vw;
    top: 50%;
    transform: translate(70%,-50%);
    transition: all 1s;
}

.con-box.left{
    opacity: 0;
    margin-left: 22vw;
    background: white;
}
.con-box.right{
    opacity: 0;
    margin-left: 13vw;
    background: white;
}
.con-box h2{
    color: #8e9aaf;
    font-size: 25px;
    font-weight: bold;
    letter-spacing: 3px;
    text-align: center;
    margin-bottom: 4px;
    
}
.con-box p{
    font-size: 12px;
    letter-spacing: 2px;
    color: #889ab9;
    text-align: center;
}
.con-box span{
    color: #3412e1;
    font-size: 15px;
}
.con-box img{
    width: 100px;
    height: 100px;
    opacity: 0.9;
    margin: 40px 0;
}
.con-box button{
    margin-top: 3%;
    background-color: #fff;
    color: #a262ad;
    border: 1px solid #d3b7d8;
    padding: 6px 10px;
    border-radius: 5px;
    letter-spacing: 1px;
    outline: none;
    cursor: pointer;
}
.con-box button:hover{
    background-color: #d3b7d8;
    color: #fff;
}