*{
    margin: 0;
    padding:0;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
/* 阿里矢量图标库 */
@font-face {
    font-family: 'iconfont';  /* project id 3383951 */
    src: url('');
    src: url('?#iefix') format('embedded-opentype'),
    url('//at.alicdn.com/t/font_3383951_w6uds6hb0k9.woff2') format('woff2'),
    url('//at.alicdn.com/t/font_3383951_w6uds6hb0k9.woff') format('woff'),
    url('//at.alicdn.com/t/font_3383951_w6uds6hb0k9.ttf') format('truetype'),
    url('#iconfont') format('svg');
}
  .iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
html,body{
    width: calc(100vw - 1vw) ;
    height: calc(100vh - 1vh);
    font-size: 1.5vw;
    font-family: 微软雅黑;
    background: linear-gradient(280deg,#e1c8cc,#9cb0ce,#5f8e77);
    /* 指定背景图像的大小 */
    background-size: 500%;
    /* 执行动画：动画名 时长 线性的 无限次播放 */
    animation: bgAnimation 5s linear infinite;
}

/* 定义动画 */
@keyframes bgAnimation {
    0%{
        background-position: 0% 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0% 50%;
    }
}
/* 设置滚动条的样式 */
::-webkit-scrollbar {
    width: 1vw;
       
}
::-webkit-scrollbar-thumb {
    background: rgb(190, 188, 188);    
    border-radius: 1vw;
}

.box1::-webkit-scrollbar {
    width: 0.5vw;
        
}
/* 滚动条滑块 */

.box1::-webkit-scrollbar-thumb {
    /* border: 1px solid lightgray; */
        border-radius: 1vw;
}



@media screen  and (orientation:landscape){     /*横屏*/
    .box1{
        background:rgba(255, 255, 255,0.2);
        position: fixed;
        width: calc(20vw + 1vw);
        height: 90vh;
        float: left;
        overflow: auto;
        /* display: flex; */
        
    }
    .box2{
        height: calc(100vh - 1vh);
        /* background:#f5f6fa; */
        margin-left: 20vw;
    }
    .nav p:nth-child(1){
        font-size: 2vw;
        font-weight: bold;
        margin-left: 1.3vw;
        color: white;
        text-align: center;
        margin-bottom: 0.9vw;
    }
    .nav p:nth-child(2){
        font-size: 0.9vw;
        margin: 1vw 2vh;
        color: white;
        border: 0.09vw solid white;
    }
    
    .box1 .backPage{
        position: fixed;
        width: 20vw;
        height: 9vh; 
        background: transparent;
        color: whitesmoke;
        font-size: 2.2vw;
        font-weight: bolder;
        text-align: center;
        line-height: 9vh;
        bottom: 0;
        cursor: pointer;
        transition: all 1s;
    }
    .box1 .backPage span{
        font-size: 2.2vw;
    }
    .box1 .backPage:hover{
        background: #35c9cb;
        border-radius: 1.7vw;
        margin-bottom: 2vh;
    }
    .nav ul li{
        width: 20vw;
        height: 7vh;
        line-height: 7vh;
        margin-bottom: 1vh;
        background:transparent; 
        color: white;
        font-size: 1.4vw;
        font-weight: bold;
        border-radius: 1.8vw;
        text-align: center;
        cursor: pointer;
        /* letter-spacing: 0.5rem;  */
        transition: all 1s;
    }
    .nav ul li:hover{
        background: skyblue;
        width: 18vw;
        margin-left: 2vw;
    }
    .nav ul li span{
        font-size: 1.4vw;
    }
    
    
    .box2>div{
        width: calc(80vw -2vw);
        height: auto;
        margin-bottom: 1.8vh;
        display: flex;
        flex-wrap: wrap;
        align-content: flex-start;
        justify-content: flex-start;
    }
    .box2>div>p{
        width: 100vw;
        font-weight: bold;
        font-size: 2vw;
        color: white;
        height: 6vh;
        line-height: 6vh;
        margin-top: 1vh;
        text-align: center;
        margin-bottom: 2vh;
        text-shadow: 0.09vw 0.045px;
    }
    
    
    .box2>div>div{
        width: 20vw;
        height: 20vh;
        background: transparent;
        border: 1px solid white;
        font-size: 1.2vw;
        color: white;
        margin-bottom: 4vh;
        margin-left: 3vw;
        box-shadow: 0.09vh 0.09vw 0.45vw white;
        border-radius: 1.2vw;
        overflow: hidden;
        transition: all 0.5s linear;
    }
    .box2>div>div img{
            margin-left: 4vw;
            width: 2vw;
            height: 2vh;
        }
    .box2>div>div p{
        font-weight: normal;
        font-size: 1.3vw;
        text-align: center;
        margin-top: 3vh;
        
    }

    .box2>div>div:hover{
        background: skyblue;
        transition: all 0.2s;
        font-size: 1.6vw;
        width: 24vw;
        height: 26vh;
        cursor: pointer; 
        font-weight: bolder;
        
    }
    .box2>div>div:hover img{
        width: 2.7vw;
        height: 2.7vh;
    }
    .box2>div>div:hover p{
        font-style: oblique;
        font-size: 1.5vw;
    }
}



@media screen  and (orientation:portrait){      /* 竖屏*/
    .box1{
        background:rgba(255, 255, 255,0.2);
        position: fixed;
        width: calc(20vw + 1vw);
        height: 90vh;
        float: left;
        overflow: auto;
        /* display: flex; */
        
    }
    .box2{
        height: calc(100vh - 1vh);
        /* background:#f5f6fa; */
        margin-left: 20vw;
    }
    .nav p:nth-child(1){
        font-size: 1.5vw;
        font-weight: bold;
        margin-left: 1.1vw;
        color: white;
        text-align: center;
        margin-bottom: 1.5vh;
    }
    .nav p:nth-child(2){
        font-size: 0;
        margin: 0 1vh;
        color: white;
        border: 0.09vw solid white;
    }
    
    .box1 .backPage{
        position: fixed;
        width: calc(20vw + 1vw);
        height: 9vh; 
        background: transparent;
        color: whitesmoke;
        font-size: 1.7vw;
        font-weight: bolder;
        text-align: center;
        line-height: 9vh;
        bottom: 0;
        cursor: pointer;
        transition: all 0.5s;
    }
    .box1 .backPage span{
        font-size: 2vw;
    }
    .box1 .backPage:hover{
        background: #35c9cb;
        border-radius: 1.7vw;
        margin-bottom: 0.5vh;
    }
    .nav ul li{
        width: 20vw;
        height: 6vh;
        line-height: 6vh;
        margin-bottom: 1vh;
        background:transparent; 
        color: white;
        font-size: 1vw;
        font-weight: bold;
        border-radius: 1.6vw;
        text-align: center;
        cursor: pointer;
        /* letter-spacing: 0.5rem;  */
        transition: all 1s;
    }
    .nav ul li:hover{
        background: skyblue;
        width: 18vw;
        margin-left: 2vw;
    }
    .nav ul li span{
        font-size: 1.3vw;
    }
    
    
    .box2>div{
        width: calc(80vw -2vw);
        height: auto;
        margin-bottom: 1vh;
        display: flex;
        flex-wrap: wrap;
        align-content: flex-start;
        justify-content: flex-start;
    }
    .box2>div>p{
        width: 100vw;
        font-weight: bold;
        font-size: 2vw;
        color: white;
        height: 5vh;
        line-height: 5vh;
        margin-top: 1vh;
        text-align: center;
        margin-bottom: 2vh;
        text-shadow: 0.09vw 0.045px;
    }
    
    
    .box2>div>div{
        width: 34vw;
        height: 20vh;
        background: transparent;
        border: 1px solid white;
        font-size: 1.2vw;
        color: white;
        margin-bottom: 4vh;
        margin-left: 3vw;
        box-shadow: 0.09vh 0.09vw 0.45vw white;
        border-radius: 1.2vw;
        overflow: hidden;
        transition: all 0.5s linear;
    }
    .box2>div>div img{
            margin-left: 6vw;
            width: 2vw;
            height: 2vh;
        }
    .box2>div>div p{
        font-weight: normal;
        font-size: 1.3vw;
        text-align: center;
        margin-top: 3vh;
        
    }

    .box2>div>div:hover{
        background: skyblue;
        transition: all 0.2s;
        font-size: 1.6vw;
        width: 36vw;
        height: 25vh;
        cursor: pointer; 
        font-weight: bolder;
        
    }
    .box2>div>div:hover img{
        width: 2.5vw;
        height: 2.5vh;
    }
    .box2>div>div:hover p{
        font-style: oblique;
        font-size: 1.5vw;
    }

}
