*{
    margin: 0;
    padding:0;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
/* 阿里矢量图标库 */
@font-face {
    font-family: 'iconfont';  /* project id 3383951 */
    src: url('');
    src: url('?#iefix') format('embedded-opentype'),
    url('//at.alicdn.com/t/font_3383951_w6uds6hb0k9.woff2') format('woff2'),
    url('//at.alicdn.com/t/font_3383951_w6uds6hb0k9.woff') format('woff'),
    url('//at.alicdn.com/t/font_3383951_w6uds6hb0k9.ttf') format('truetype'),
    url('#iconfont') format('svg');
}
  .iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
html,body{
    width: calc(100vw - 1.8vmin) ;
    height: calc(100vh - 1vh);
    font-size: 2vmin;
    font-family: 微软雅黑;
    /* background-size: 1000%; */
    /* 执行动画：动画名 时长 线性的 无限次播放 */
    animation: bgAnimation 5s linear infinite;
}

/* 定义动画 */
@keyframes bgAnimation {
    0%{
        /* background-position: 0% 50%; */
        background-color: #e1c8cc;
    }
    33.3%{
        /* background-position: 100% 50%; */
        background-color: #9cb0ce;
    }
    66.6%{
        /* background-position: 0% 50%; */
        background-color:  #5f8e77;
    }
    100%{
        /* background-position: 0% 50%; */
        background-color:  #e1c8cc;
    }
}
/* 设置滚动条的样式 */
::-webkit-scrollbar {
    width: 1.8vmin;
    height: 1.8vmin;
       
}
::-webkit-scrollbar-thumb {
    background: rgb(190, 188, 188);    
    border-radius: 1vmin;
}

.leftBox::-webkit-scrollbar {
    width: 0.5vmin;
        
}
/* 滚动条滑块 */

.leftBox::-webkit-scrollbar-thumb {
    /* border: 1px solid lightgray; */
        border-radius: 1vmin;
}


.leftBox{
    background:rgba(255, 255, 255,0.2);
    position: fixed;
    width: calc(20vmin + 1vmin);
    height: 90vh;
    float: left;
    overflow: auto;
    box-sizing: border-box;
}
nav p:nth-child(1){
    font-weight: bold;
    color: white;
    text-align: center;
    font-size: 3.5vmin;
    margin-bottom: 2vmin;
}
nav p:nth-child(2){
    text-align: center;
    color: white;
    font-size: 0.9vmin;
    padding: 0.5vmin 0.5vmin;
    margin: 1vmin 1vmin;
    border: 0.09vmin solid white;
}
.leftBox .backHomePage{
    width: 20vmin;
    height: 9vh; 
    font-size: 2.2vmin;
    line-height: 9vh;
    bottom: 0;
    position: fixed;
    background: transparent;
    color: whitesmoke;
    font-weight: bolder;
    text-align: center;
    cursor: pointer;
    transition: all 1s;
}
.leftBox .backHomePage span{
    font-size: 2.2vmin;
}

.leftBox .backHomePage:hover{
    background: #35c9cb;
    border-radius: 1.7vmin;
    /* margin-bottom: 0.5vh; */

}
nav ul li{
    width: 20vmin;
    height: 7vh;
    line-height: 7vh;
    margin-bottom: 1vh;
    font-size: 2vmin;
    border-radius: 1.8vmin;
    background:transparent; 
    color: white;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    transition: all 1s;
}
nav ul li:hover{
    background: skyblue;
    width: 18vmin;
    margin-left: 2vmin;
}
nav ul li span{
    font-size: 2vmin;
}
.rightBox{
    width: calc(100vw -21.2vmin);
    height: calc(100vh - 1vh);
    margin-left: 21.2vmin;
    box-sizing: border-box;
}
.rightBox>div{
    /* width: calc(100vw -21vmin + 1vmin); */
    margin-bottom: 2vh;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: flex-start;
}
.rightBox>div>p:nth-child(1){
    width: calc(100vw - 21.2vmin);
    font-size: 3vmin;
    height: 6vh;
    line-height: 6vh;
    margin-top: 1vh;
    margin-bottom: 2vh;
    text-shadow: 0.09vmin 0.045px;
    padding-top: 2vh;
    border-top: 0.09vh solid white;
    font-weight: bold;
    color: white;
    text-align: center;
}
.rightBox>div>p:nth-child(2){
    width: calc(100vw - 21.2vmin);
    height: 3vh;
    font-size: 2vmin;
    line-height: 3vh;
    margin-bottom: 3vh;
    padding-bottom: 2vw;
    border-bottom: 0.09vmin solid white;
    font-weight: 400;
    color: white;
    text-align: center;
}


.rightBox>div>div{
    margin: 0 auto;
    width: 24vmin;
    height: 20vh;
    font-size: 2.2vmin;
    margin-bottom: 4vh;
    box-shadow: 0.09vmin 0.09vmin 0.45vmin white;
    border-radius: 2vmin;
    background: transparent;
    border: 1px solid white;
    color: white;
    overflow: hidden;
    transition: all 0.5s linear;
}
.rightBox>div>div img{
    width: 2vmin;
    height: 2vmin;
}
.rightBox>div>div>div{
    text-align: center;
}

.rightBox>div>div p{
    font-size: 1.8vmin;
    margin-top: 3vh;
    font-weight: normal;
    text-align: center;
    
}

.rightBox>div>div:hover{
    font-size: 2.5vmin;
    width: 26vmin;
    height: 26vh;
    background: skyblue;
    transition: all 0.2s;
    cursor: pointer; 
    font-weight: bolder;
    
}
.rightBox>div>div:hover img{
    width: 2.6vmin;
    height: 2.6vmin;
}
.rightBox>div>div:hover p{
    font-size: 2.3vmin;
    font-style: oblique;
}











