*{
    margin: 0;
    padding:0;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
/* 阿里矢量图标库 */
@font-face {
    font-family: 'iconfont';  /* Project id 3383951 */
    src: url('//at.alicdn.com/t/font_3383951_t8grekj7xu.woff2?t=1652183844030') format('woff2'),
         url('//at.alicdn.com/t/font_3383951_t8grekj7xu.woff?t=1652183844030') format('woff'),
         url('//at.alicdn.com/t/font_3383951_t8grekj7xu.ttf?t=1652183844030') format('truetype');
  }
  .iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
html,body{
    width: calc(100vw - 1.8vmin) ;
    height: calc(100vh - 1vh);
    font-size: 2vmin;
    font-family: 微软雅黑;
    /* background-size: 1000%; */
    /* 执行动画：动画名 时长 线性的 无限次播放 */
    animation: bgAnimation 4s linear infinite alternate;
}

/* 定义动画 */
@keyframes bgAnimation {
    0%{
        /* background-position: 0% 50%; */
        background-color: #e1c8cc;
    }
    50%{
        /* background-position: 100% 50%; */
        background-color: #9cb0ce;
    }
    100%{
        /* background-position: 0% 50%; */
        background-color:  #728b7f;
    }
}
/* 设置滚动条的样式 */
::-webkit-scrollbar {
    width: 1.8vmin;
    height: 1.8vmin;
       
}
::-webkit-scrollbar-thumb {
    background: rgb(190, 188, 188);    
    border-radius: 1vmin;
}

.leftBox ul::-webkit-scrollbar {
    width: 0.7vmin;
        
}
/* 滚动条滑块 */

.leftBox::-webkit-scrollbar-thumb {
    /* border: 1px solid lightgray; */
        border-radius: 1vmin;
}
#searchBox{
    display: inline-block;
    box-sizing: border-box;
    position: relative;
}
[type=text]{
    left: 26vmin;
    font-size: 3vmin;
    width: calc(95% - 26vmin);
    height: 10vmin;
    background: rgba(211, 209, 209, 0.2);
    border: 2px solid white;
    border-radius: 2vmin;
    /* margin: 2vmin; */
    margin-left: 2vmin;
    text-indent: 1em;
    position: fixed;
    outline: none;
}

[type=submit]{
    width: 10%;
    height: 10.4vmin;
    color: white;
    background: transparent;
    border: none;
    border-left: 2px solid white;
    /* border-radius: 2vmin; */
    font-size: 3.8vmin;
    right: 3.5vh;
    margin-top: 0;
    position: fixed;
    outline: none;
    cursor: pointer;
}
.leftBox{
    background:rgba(255, 255, 255,0.2);
    position: fixed;
    width: 26vmin;
    height: 90vh;
    float: left;
    top: 0;
    box-sizing: border-box;
}
.leftBox>div:nth-child(1){
    height: 33vmin;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
.leftBox>div p:nth-child(1){
    font-weight: bolder;
    color: white;
    height: 8vmin;
    line-height: 8vmin;
    text-align: center;
    font-size: 4vmin;
    border-bottom: 1px solid white;
}
.leftBox>div p:nth-child(2){
    font-weight: bold;
    color: white;
    padding: 1vmin;
    margin: 0 auto;
    height: 5vmin;
    line-height: 5vmin;
    text-align: center;
    font-size: 3vmin;
}
.leftBox>div p:nth-child(3){
    text-align:start;
    color: white;
    /* height: 17vmin; */
    font-size: 2vmin;
    padding: 1vmin 0.5vmin 1vmin 0.5vmin;
    /* margin: 6px; */
    border-top:  1px solid white;
    border-bottom: 1px solid white;
    /* 指定超出几行进行隐藏 */
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient:block-axis;
    overflow: hidden;
    text-overflow: ellipsis; 
}
.leftBox .backHomePage{
    width: 26vmin;
    height: 10vh; 
    font-size: 2.8vmin;
    line-height: 9vh;
    bottom: 0;
    position: fixed;
    background: transparent;
    color: whitesmoke;
    font-weight: bolder;
    text-align: center;
    cursor: pointer;
    transition: all 1s;
}
.leftBox .backHomePage span{
    font-size: 2.8vmin;
}

.leftBox .backHomePage:hover{
    background: #35c9cb;
    border-radius: 2.5vmin;
}

nav ul{
    position: absolute;
    top: 33vmin;
    bottom: 10vh;
    height: calc(90vh - 36.5vmin);
    overflow: auto;
}
nav ul li{
    width: 24vmin;
    height: 7vmin;
    line-height: 7vmin;
    margin-top: 3vmin;
    font-size: 2.8vmin;
    border-radius: 1.8vmin;
    background:transparent; 
    color: white;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    transition: all 1s;
}
nav ul li:hover{
    background: skyblue;
    width: 22vmin;
    margin-left: 2vmin;
}
nav ul li span{
    font-size: 2vmin;
}
.rightBox{
    width: calc(100vw -26vmin);
    height: calc(100vh - 1vh);
    margin-left: 26vmin;
    margin-top: 12vmin;
    box-sizing: border-box;
}
.rightBox>div{
    /* width: calc(100vw -21vmin + 1vmin); */
    margin-bottom: 2vh;
    min-height: 20vh;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: flex-start;
}
.rightBox>div>p:nth-child(1){
    width: calc(100vw - 21.2vmin);
    font-size: 4.3vmin;
    height: 10vmin;
    line-height: 10vmin;
    text-shadow: 0.09vmin 0.045px;
    padding-top: 1vmin;
    margin-bottom: 2vmin;
    border-top: 0.09vh solid white;
    font-weight: bold;
    color: white;
    text-align: center;
}
.rightBox>div>p:nth-child(2){
    width: calc(100vw - 21.2vmin);
    height: 10vmin;
    font-size: 2.5vmin;
    margin-bottom: 7vmin;
    padding-bottom: 3vmin;
    border-bottom: 0.09vmin solid white;
    font-weight: 400;
    color: white;
    text-align: center;
}


.rightBox>div>div{
    margin: 0 auto;
    width: 24vmin;
    height: 20vmin;
    font-size: 2.5vmin;
    margin-bottom: 5vmin;
    box-shadow: 0.09vmin 0.09vmin 0.45vmin white;
    border-radius: 2vmin;
    background: transparent;
    border: 1px solid white;
    color: white;
    overflow: hidden;
    transition: all 0.5s linear;
}
.rightBox>div>div:hover{
    font-size: 2.5vmin;
    width: 26vmin;
    height: 30vmin;
    background: skyblue;
    transition: all 0.2s;
    cursor: pointer; 
    font-weight: bolder;
    
}
.rightBox>div>div img{
    width: 2vmin;
    height: 2vmin;
}
.rightBox>div>div:hover img{
    width: 2.6vmin;
    height: 2.6vmin;
}
.rightBox>div>div>div{
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.rightBox>div>div p{
    text-align: start;
    font-size: 1.8vmin;
    margin-top: 3vmin;
    font-weight: normal;
    padding: 1.5vmin;
    /* 指定超出几行进行隐藏 */
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient:block-axis;
    overflow: hidden;
    text-overflow: ellipsis;
    
}

.rightBox>div>div:hover p{
    font-size: 2vmin;
    font-style: oblique;
    -webkit-line-clamp: 6;
}











