*{
    margin: 0;
    padding:0;
}
/* 阿里矢量图标库 */
@font-face {
    font-family: 'iconfont';  /* project id 3383951 */
    src: url('');
    src: url('?#iefix') format('embedded-opentype'),
    url('//at.alicdn.com/t/font_3383951_w6uds6hb0k9.woff2') format('woff2'),
    url('//at.alicdn.com/t/font_3383951_w6uds6hb0k9.woff') format('woff'),
    url('//at.alicdn.com/t/font_3383951_w6uds6hb0k9.ttf') format('truetype'),
    url('#iconfont') format('svg');
  }
  .iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

    /* 设置滚动条的样式 */

    ::-webkit-scrollbar {
    width: 12px;
    }
 
    /* 滚动条滑块 */
    
    ::-webkit-scrollbar-thumb {
    
    border-radius: 13px;
    background: linear-gradient(90deg,#e1c8cc,#9cb0ce,#5f8e77,);
    /* 指定背景图像的大小 */
    background-size: 500%;
    /* 执行动画：动画名 时长 线性的 无限次播放 */
    animation: bgAnimation 3s linear infinite;
    
    }
    
html,body{
    width: 100vw;
    height: 100vh;
    font-size: 16px;
    font-family: 微软雅黑;
    background: linear-gradient(280deg,#e1c8cc,#9cb0ce,#5f8e77);
    /* 指定背景图像的大小 */
    background-size: 500%;
    /* 执行动画：动画名 时长 线性的 无限次播放 */
    animation: bgAnimation 5s linear infinite;
}

/* 定义动画 */
@keyframes bgAnimation {
    0%{
        background-position: 0% 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0% 50%;
    }
}
/* 设置滚动条的样式 */
::-webkit-scrollbar-thumb {
    background: rgb(190, 188, 188);    
border-radius: 13px;

}

.box1::-webkit-scrollbar {
    width: 6px;
}
/* 滚动条滑块 */

.box1::-webkit-scrollbar-thumb {
    /* border: 1px solid lightgray; */
        border-radius: 13px;
}
.box1{
    background:rgba(255, 255, 255,0.2);
    position: fixed;
    width: 200px;
    height: 90%;
    float: left;
    overflow: auto;
    /* display: flex; */
    
}
.box2{
    height: 100%;
    /* background:#f5f6fa; */
    margin-left: 210px;
}
.nav p:nth-child(1){
    font-size: 20px;
    font-weight: bold;
    margin-left: 18px;
    color: white;
    text-align: center;
    margin-bottom: 10px;
}
.nav p:nth-child(2){
    font-size: 10px;
    margin: 20px 20px;
    color: white;
    border: 1px solid white;
}

.box1 .backPage{
    position: fixed;
    width: 200px;
    height: 60px; 
    background: transparent;
    color: whitesmoke;
    font-size: 18px;
    font-weight: bolder;
    text-align: center;
    line-height: 60px;
    bottom: 0;
    cursor: pointer;
    transition: all 1s;
}
.box1 .backPage span{
    font-size: 25px;
}
.box1 .backPage:hover{
    background: #35c9cb;
    border-radius: 15px;
    margin-bottom: 20px;
}
.nav ul li{
    width: 100%;
    height: 50px;
    line-height: 50px;
    margin-bottom: 10px;
    background:transparent; 
    color: white;
    font-size: 16px;
    font-weight: bold;
    border-radius: 20px;
    text-align: center;
    cursor: pointer;
    /* letter-spacing: 0.5rem;  */
    transition: all 1s;
    
}
.nav ul li:hover{
    background: skyblue;
    width: 80%;
}
.nav ul li span{
    font-size: 16px;
}


.box2>div{
    width: 100%;
    height: auto;
    margin-bottom: 20px;
    /* background:yellow; */
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: flex-start;
}
.box2>div>p{
    width: 100%;
    font-weight: bold;
    font-size: 25px;
    color: white;
    height: 40px;
    line-height: 20px;
    margin-top: 10px;
    text-align: center;
    margin-bottom: 10px;
    text-shadow: 1px 0.5px;
}
.box2>div a{
    text-decoration: none;
}

.box2>div>div{
    width: 210px;
    height: 100px;
    background: transparent;
    border: 1px solid white;
    font-size: 16px;
    color: white;
    margin-bottom: 20px;
    margin-left: 20px;
    box-shadow: 1px 1px 9px 0.5px white;
    border-radius: 5px;
    overflow: hidden;
    transition: all 0.5s linear;
}
.box2>div>div:hover{
    background: skyblue;
    transition: all 0.2s;
    font-size: 20px;
    width: 250px;
    height: 150px;
    cursor: pointer; 
    font-weight: bolder;
    
}
.box2>div>div:hover img{
    width: 20px;
    height: 20px;
}
.box2>div>div:hover p{
    font-style: oblique;
    font-size: 15px;
}
.box2>div>div img{
    margin-left: 20%;
    width: 16px;
    height: 16px;
}
.box2>div>div p{
    font-weight: normal;
    font-size: 13px;
    text-align: center;
    margin-top: 20px;
    
}

