
*{
    margin: 0;
    padding:0;
}
html,body{
    width: 100%;
    height: 100%;
    font-size: 16px;
    font-family: 微软雅黑;
    background: linear-gradient(280deg,#e1c8cc,#9cb0ce,#5f8e77);
    /* 指定背景图像的大小 */
    background-size: 500%;
    /* 执行动画：动画名 时长 线性的 无限次播放 */
    animation: bgAnimation 5s linear infinite;
}
/* 定义动画 */
@keyframes bgAnimation {
    0%{
        background-position: 0% 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0% 50%;
    }
}
.box1{
    width: 200px;
    height: 100%;
    float: left;
    overflow: auto;
}
.box2{
    height: 100%;
    margin-left: 210px;
}
.nav p{
    font-weight: bold;
    margin-bottom: 30px;
}
.nav ul li{
    width: 100%;
    height: 50px;
    line-height: 50px;
    margin-bottom: 10px;
    background:skyblue;
    color: black;
    text-align: center;
    letter-spacing: 0.5rem;
}
.box2>div{
    width: 100%;
    height: auto;
    margin-bottom: 20px;
    /* background:yellow; */
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: flex-start;
}
.box2>div>p{
    width: 100%;
    font-weight: bold;
    height: 20px;
    line-height: 20px;
    margin: 10px;
}
.box2>div a{
    text-decoration: none;
}

.box2>div>div{
    width: 210px;
    height: 100px;
    background: white;
    margin-bottom: 20px;
    margin-left: 20px;
    border-radius: 5px;
}
.box2>div>div:hover{
    background: skyblue;
    transition: all 0.5s;
    /* color: white; */
    cursor: pointer;
    
}
